blinker==1.4
docutils==0.16
feedgenerator==1.9.1
Jinja2==2.11.3
Markdown==3.1.1
MarkupSafe==1.1.1
pelican==4.5.0
pelican-alias==1.1
git+https://github.com/StevenMaude/pelican-tag-cloud.git@5d2eb88729695fa4ee8c39df4455b763368488e0#egg=tag-cloud
git+https://github.com/StevenMaude/pelican-i18n_subsites.git@1f32db63052aa9ba686bfee3f5e573f4d5b5927d#egg=i18n_subsites
Pygments==2.7.1
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
Unidecode==1.1.1
